ALPHA_VANTAGE_API_KEY=
DATABASE_URL="postgresql://username:password@127.0.0.1:5432/finnest?schema=public"
SHADOW_DATABASE_URL="postgresql://username:password@127.0.0.1:5432/finnest_shadow?schema=public"
